
.sideBarStyle {
    position: absolute;
    top: 70px;
    width: 420px;
    height: 100%;
    z-index: 200;
    padding-top: 5px;
    margin-left:  -8px;
    overflow: auto;
    box-sizing: border-box;
    
  }
  .sampleContent{
    height: 2000px;
    margin-left: 400px;
    border-left: 2px #eaeaecdc solid ;
  }
  .formStyle{
    display: block;
    margin-left: 20px;
    margin-top: 150px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #f3f5f7;
    max-width: 320px;
}
.labelStyle{
    display: inline-block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
    box-sizing: border-box;
}
.inputStyle{
    margin-top: 4px;
    margin-bottom: 12px;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid #dee2e6;
    cursor: default;
}

.optionStyle{
    margin-top: 4px;
    margin-bottom: 12px;
    display: block;
    width: 100%;
    padding: 14px ;
    font-size: 15px;
    color:grey;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid #dee2e6;
    cursor: default;
}

.loginButton{
    height:auto;
    margin-top: 15px;
    padding: 12px 18px 12px 18px;
    width:100%;
    background-image: linear-gradient(to right, #40c057, #15aabf);
    color:white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    border:none;
    cursor: pointer;
  }
  .loginButton:hover{
    background-image: linear-gradient(to left,  #40c057, #15aabf);
  }
  .loginButton:active{
    opacity: 0.8;
  }
  