.NavStyle{
    display: flex;
    border-bottom: 1px #15aabf solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 1150;
    margin: 0 -10px;
  }
  .logoStyle{
    margin-left: 10px;
    justify-content: center;
  }
  .navbarItemsStyle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }

  .navLinkStyle{
    align-items: center;
    text-decoration: none;
    color:#777;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 25px 0px 25px;
    margin: 17px;
  }
  .navLinkStyle:hover{
    color: black;
  }
  .navLinkStyle :active{
    color: #a7a3a3;
  }
  .signUpStyles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
  }
  .loginButton{
    height:40px;
    padding-left: 18px;
    padding-right: 18px;
    width:auto;
    border: 1px #00B29A solid;
    background-color: white; 
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
  }
  .loginButton:hover{
    background-color: rgb(226, 226, 226);
  }
.signUpButton{
  height:40px;
  padding-left: 18px;
  padding-right: 18px;
  width:auto;
  background-image: linear-gradient(to right, #40c057, #15aabf);
  color:white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  border:none;
  cursor: pointer;
}
.signUpButton:hover{
  background-image: linear-gradient(to left,  #40c057, #15aabf);
}
.signUpButton:active{
  opacity: 0.8;
}
.profilePictureStyle{
  cursor: pointer;
  margin-right: 15px;
  padding-left: 150px;
}