
.farmerInfo{
  display: grid;
  background-color:#eaeaecdc;
  padding: 15px 20px ;
  border:none;
  border-radius: 10px;

}
.single {
  padding: 15px 10px;
  background: white;    
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color:black;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  margin: 7px 20px;

}
.single:hover {
  padding: 30px;
  margin: 5px;
}
.farmerInfoBox{
  margin: auto;
  margin-top: 20px;
  max-width: 1300px;
  padding: 40px 40px 5px 40px; 
  border-bottom: 3px #eaeaecdc solid;
}
.headerTextStyle{
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 5px;
}
.SupplierHeaderTextStyle{
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}
.mainArea{
  margin: 10px 30px;
  padding: 5px;
}
.profilePictureStyle{
  object-fit: cover;
  margin: 0 10px;
}
.nameStyle{
  font-size: 22px;
  font-weight: bold;
}
.button{
  padding-left: 18px;
  padding-right: 18px;
  width:170px;
  height: 45px;
  background-image: linear-gradient(to right, #40c057, #15aabf);
  color:white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  margin-right: 15px;
  position: absolute;
  right:10px
}
.button:hover{
  background-image: linear-gradient(to left,  #40c057, #15aabf);
}
.button:active{
  opacity: 0.8;
} 
.mainAreaStyle{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding:25px 0;
  margin: auto;
} 
.detailInfo{
  display: flex;
  margin-left: 50px;
  
}
.nameStyle{
  font-size: 20px;
  font-weight:bold;
  margin-bottom: 3px;
}
.locationStyle{
  font-size: 15px;
  color: #777;
  margin-bottom: 3px;

}
.userInfoStyle{
  padding:5px 30px 0 5px;
  margin-top: 5px;
}
.farmDescription{
  max-width: 700px;
  margin-left: 40px;
  font-size: 20px;
}
.verticalLine{
  font-size: 28px;
  color: #d1d1d1 ;
  margin: -5px 10px 0 10px;
}

.verticalLineStyle{
  font-size: 40px;
  color: #d1d1d1 ;
  margin: -10px 10px 0 10px;
}

.ratingAndDeal{
  display: flex;
  margin-left: 75px;
  margin-top: 5px;
  width:auto;
}
.ratingAndDealStyle{
  display: flex;
  margin-left: 75px;
  margin-top: 3px;
  width:auto;
  padding: 10px 5px;
}
.dealsAndProduct{
  text-align: center;
  height:auto;
  font-size: 16px;
  margin-top: 4px;
}
.dealsAndProductStyle{
  text-align: center;
  height:auto;
  font-size: 18px;
  margin-top: 8px;
}

.Ratings{
  text-align: center;
  height:auto;
  font-size: 18px;
  margin-top: -2px;
}
.contactButton{
  width:170px;
  height: 45px;
  padding-left: 18px;
  padding-right: 18px;
  background-image: linear-gradient(to right, #40c057, #15aabf);
  color:white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 50px;

}
.contactButton:hover{
  background-image: linear-gradient(to left,  #40c057, #15aabf);
}
.contactButton:active{
  opacity: 0.8;
}
.productList{
  background-color: blue;
}
.ProductHeaderTextStyle{
  font-size: 35px;
  margin: 25px 0px 0px 100px;
  margin-bottom: 5px;
}
