.single {
  padding: 5px 16px;
  background: #fff;
  display: block;
  margin: 5px;
  border-left: 8px solid #fff;
}
.single:hover {
  border-left: 8px solid#40c057;
}
.linkStyle{
  text-decoration: none;
  color:black;
  font-size: 16px;
  font-weight: bold;
}
.headerTextStyle{
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.SupplierHeaderTextStyle{
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}
.mainArea{
  background-color: rgb(167, 89, 240);
  padding: 10px;
  margin: 10px 50px;
}
.farmerInfo{
  background-color: red;
  display: grid;
}
.styles.profilePictureStyle{
  width: 36px;
  border-radius: 50px;
}
