
.farmerInfo{
  display: grid;
  background-color:#eaeaecdc;
  padding: 25px 15px 25px 15px;
  border:none;
  border-radius: 10px;

}
.single {
  padding: 30px 10px;
  background: white;
  display: flex;
  flex-direction: row;
  flex:auto;
  align-items: center;
  margin: 7px 20px;
  text-decoration: none;
  color:black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}
.single:hover {
  padding: 50px;
  margin: 5px;
}
.headerTextStyle{
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.SupplierHeaderTextStyle{
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}
.mainArea{
  padding: 10px;
  margin: 10px 30px;
}
.profilePictureStyle{
  object-fit: cover;
  margin-right: 20px;
}
.nameStyle{
  font-size: 22px;
  font-weight: bold;
}
.button{
  float: right;
    margin: 5px;
}
